*, ::after, ::before {
  box-sizing: border-box; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }
body {
  margin: 0;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25; }

hr:not([size]) {
  height: 1px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: calc(1.375rem + 1.5vw); }

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem; } }
h2 {
  font-size: calc(1.325rem + .9vw); }

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem; } }
h3 {
  font-size: calc(1.3rem + .6vw); }

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem; } }
h4 {
  font-size: calc(1.275rem + .3vw); }

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem; } }
h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[data-bs-original-title], abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol, ul {
  padding-left: 2rem; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b, strong {
  font-weight: bolder; }

small {
  font-size: .875em; }

mark {
  padding: .2em;
  background-color: #fcf8e3; }

sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #0d6efd;
  text-decoration: underline; }

a:hover {
  color: #0a58ca; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: .875em; }

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal; }

code {
  font-size: .875em;
  color: #d63384;
  word-wrap: break-word; }

a > code {
  color: inherit; }

kbd {
  padding: .2rem .4rem;
  font-size: .875em;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem; }

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700; }

figure {
  margin: 0 0 1rem; }

img, svg {
  vertical-align: middle; }

table {
  caption-side: bottom;
  border-collapse: collapse; }

caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #6c757d;
  text-align: left; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus:not(:focus-visible) {
  outline: 0; }

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, select {
  text-transform: none; }

[role=button] {
  cursor: pointer; }

select {
  word-wrap: normal; }

select:disabled {
  opacity: 1; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: calc(1.275rem + .3vw);
  line-height: inherit; }

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem; } }
legend + * {
  clear: left; }

::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-year-field {
  padding: 0; }

::-webkit-inner-spin-button {
  height: auto; }

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::file-selector-button {
  font: inherit; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

iframe {
  border: 0; }

summary {
  display: list-item;
  cursor: pointer; }

progress {
  vertical-align: baseline; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  max-width: 1015px; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("../fonts/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-MediumObl.woff") format("woff"), url("../fonts/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-BookObl.eot");
  src: local("Futura PT Book Oblique"), local("FuturaPT-BookObl"), url("../fonts/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BookObl.woff") format("woff"), url("../fonts/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("../fonts/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BoldObl.woff") format("woff"), url("../fonts/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
html {
  font-size: 14px; }

body {
  background: radial-gradient(50% 170.41% at 50% 50%, #001754 0%, #052578 100%);
  font-family: 'Futura PT';
  color: #001754;
  font-weight: 500;
  font-style: normal; }

body * {
  outline: none !important; }

b,
strong {
  font-weight: bold; }

a,
svg,
path,
rect,
circle,
button,
span,
::before,
::after {
  transition: 0.5s ease; }

button {
  border-radius: 0;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit; }

input,
textarea,
label {
  -webkit-appearance: none !important;
  box-shadow: none !important; }

.svg {
  display: none; }

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative; }
  @media (max-width: 767px) {
    .body {
      padding-top: 20px;
      padding-bottom: 20px; } }
  .body__content {
    width: 100%; }
  .body__box {
    background: #FFFFFF;
    padding: 20px 20px 20px 0;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    min-height: 662px;
    display: flex; }
    @media (max-width: 767px) {
      .body__box {
        padding: 20px;
        min-height: unset; } }
  .body__img {
    background: url("../img/bg@2x.jpg") no-repeat center right;
    background-size: cover;
    flex-grow: 1;
    border-radius: 17px; }
    @media (max-width: 767px) {
      .body__img {
        display: none; } }
  .body__form {
    min-width: 458px;
    max-width: 458px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .body__form {
        min-width: 100%;
        max-width: 100%; } }
  .body__logo svg {
    max-width: 100%;
    height: auto; }

.form {
  display: flex;
  flex-direction: column;
  max-width: 311px;
  padding-top: 30px;
  flex-grow: 1;
  justify-content: center; }
  .form__fieldset {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; }
  .form__label {
    text-transform: uppercase;
    margin-bottom: 5px; }
  .form__input {
    height: 36px;
    background: #F5F5F5;
    border: 1px solid #DFDFDF;
    color: #001754;
    padding: 0 15px; }
  .form__info {
    font-size: .85rem; }
    @media (max-width: 991px) {
      .form__info {
        font-size: 1rem; } }
    .form__info._right {
      text-align: right; }
    .form__info._center {
      text-align: center; }
    .form__info a {
      text-decoration: underline;
      color: inherit; }
      .form__info a:hover {
        text-decoration: none;
        color: inherit; }
  .form__forgot {
    margin-top: 10px; }
  .form__recaptcha {
    display: flex;
    justify-content: center; }
    .form__recaptcha img {
      max-width: 100%;
      height: auto; }
  .form__btn {
    display: flex;
    align-items: center; }
    .form__btn button {
      height: 43px;
      padding: 0 60px;
      background: #001754;
      color: #FFFFFF;
      text-transform: uppercase;
      border-radius: 9px;
      font-weight: 700;
      width: auto; }
      .form__btn button:hover {
        background: #DFDFDF;
        color: #001754; }
    .form__btn._small button {
      padding: 0 30px; }
  .form__message {
    padding: 13px 30px;
    color: #7D7D7D;
    border-radius: 9px;
    line-height: 130%;
    display: none; }
    .form__message._active {
      display: flex; }
    .form__message._error {
      background: rgba(255, 106, 106, 0.2); }
    .form__message._success {
      background: rgba(108, 255, 141, 0.4); }
    .form__message span {
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */
